<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>
		{% block title %}{% endblock %}
	</title>
</head>

<body>
	<header>
		<nav>
			<a href="/">Головна</a>
			<a href="/products">Кава</a>
			<a href="/contacts">Контакти</a>
		</nav>
	</header>
	{% block greeting %}{% endblock %}
	{% block info %} {% endblock %}
	{% block content %}{% endblock %}
</body>

<footer>
	{% block footer %}{% endblock %}
</footer>

</html>