{% extends "base.html" %}

{% block title %}
{{"ВІДЕНСЬКА КАВ'ЯРНЯ"|upper}}
{% endblock %}

{% block greeting %}
<h1>{{"Головна сторінка"|upper}} </h1>
<h2>{{"Ласкаво просимо до Віденської кав'ярні!"}}</h2>
<h2>{{"Тут ви знайдете найкращу каву..."}}</h2>
{% endblock %}

{% block info %}
<h3>{{"Трішки історії:"}}</h3>
<p>
	Перша самостійна кав'ярня у Львові з'явилася у 1829 році — це була легендарна «Віденська кав'ярня» на теперішньому
	проспекті Свободи.
</p>
<h4>Початок кавової історії</h4>
<ul>
	<li> <strong>Юрій Кульчицький:</strong> За легендою, саме цей український шляхтич навчив Відень і всю Європу пити
		каву після Віденської битви 1683 року, після чого зерна потрапили й до Львова.</li>
	<li><strong>«Віденська кав'ярня»: </strong> Заклад відкрив Карл Гартман. Тут подавали каву за австрійськими
		традиціями — до маленької чашки обов'язково давали склянку холодної води.</li>
</ul>
<h4>Розвиток у ХІХ–ХХ століттях</h4>
<ul>
	<li> <strong>Австро-Угорський період: </strong> Кав'ярні наслідували віденський стиль. Вони стали центрами для
		зустрічей літераторів, політиків, бізнесменів та громадської еліти.</li>
	<li> <strong>Бум на початку ХХ століття:</strong> До 1900 року у Львові працювало близько 60 кав'ярень. Заклади
		змагалися за відвідувачів і часто отримували кумедні або оригінальні назви.</li>
	<li> <strong>Культура:</strong> Похід до кав'ярні перетворився на особливий щоденний ритуал для містян. Тут
		обговорювали новини, читали свіжу пресу та укладали угоди.</li>
</ul>
{% endblock %}



{% block footer %}
<p>© 2026 Віденська кав'ярня </p>
{% endblock %}



<!-- <title>Головна сторінка</title>

<body>
	<header>

	</header>
	<main>
		<h1>Привіт {{user}}!</h1>
		<h2>Ви знаходитеь на головній сторінці</h2>
		<p>
			Перейти до <a href="menu.html">Головного меню</a>
		</p>
	</main>
	<footer>

	</footer>
</body>

</html> -->